<ol class="sortable list-group default vertical">
  <%
    prev_level = 0 
    point = []
  %>
  <% ProductBreakdownStructure.order_for_selects(params[:id]).each do |p| %>
    <% if p.level > 0 %>
      <% if prev_level < p.level %>
        <% point.push(1) %>
      <% end %>
      <% if prev_level == p.level %>
        </ol></li>
        <% point[point.length-1] += 1 %>
      <% end %>
      <% if prev_level > p.level %>
        </ol></li>
        <% diff = prev_level - p.level %>
        <% point.pop(diff) %>
        <% point[point.length-1] += 1 %>
        <%= "#{'</ol></li>' * diff}".html_safe %>
      <% end %>
      <% id = build_level(point).tr('.','') %>

      <li class="list-group-item">
        <img src="
          <%= if p.level > 1 
               image_path 'add.png' 
              else 
                image_path 'delete.png' 
              end 
          %>" 
          id = "<%= 'img' + id %>"
          onClick="clickk('<%= id %>');"/>
        <span class="sortable-list-number" id="linr<%= id %>">
          <%= build_level(point) + " " %>
        </span>
        <span class="sortable-list-name" id="name<%= id %>">
          <%= p.name %>
        </span>
        <div class="sortable-list-icons pull-right">
          <img src="<%= image_path 'application_add.png'%>" onClick="addChildDial(<%= p.id %>,'<%= p.name %>');"/>
          <img src="<%= image_path 'pencil.png'%>"onClick="editDial(<%= p.id %>,'<%= p.name %>');"/>
          <img src="<%= image_path 'bin.png'%>" onClick="deleteDial(<%= p.id %>,'<%= p.name %>');"/>
        </div>
        <ol <% if p.level > 1 %> class="hidden" <% end %> id="<%= 'ol' + id %>">

      <% prev_level = p.level %>
    <% end %>
  <% end %>
  <%= "#{'</ol></li>' * prev_level}".html_safe %>
</ol>