<% if user_signed_in? %>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <%= link_to 'Neues Projekt anlegen', new_project_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <% Project.all.each do |project| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>
              <%= project.name %>
            </h3>
            <p>
              <%= project.description %>
            </p>
            <p class="thumbnail-buttons">
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, project, { class: 'btn btn-primary' } %>
              <%#= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_project_path(project), { class: 'btn btn-primary' } %>
              <% if can? :manage, project %>
                <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>