<%#= form_for([@project, @work_breakdown_structure, @work_package], html: { class: 'form-horizontal wbs' }) do |f| %>
<%= form_for([@project, @resource], html: { class: 'form-horizontal r' }) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="id" name="id" />

  <div class="form-group">
    <%= f.label :count, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_field :count, {class: 'form-control', placeholder: 'Anzahl Resourcen'} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :resource_breakdown_structure, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= select_tag :resource_breakdown_structure_id, options_from_collection_for_select(ResourceBreakdownStructure.order_for_selects(params[:project_id]), "id", :name_for_selects), { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :qualification, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= select_tag :qualification_id, options_from_collection_for_select(Qualification.where("project_id = ?", params[:project_id]), "id", :name_for_selects), { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>