<div class="row">
  <div class="col-md-6">
    <h2>Einsatzmittel</h2>
    <span class="btn btn-primary btn-sm show_form">Neues Einsatzmittel</span>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render "nestable" %>
  </div>
  <div class="col-md-6">
    <div id="rbs_show">
      <%= render "show" %>
    </div>
    <div id="r_show">
      <%= render "resources/show" %>
    </div>

    <div id="form">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#rbs_form" data-toggle="tab">Einsatzmittelstruktur</a>
        </li>
        <li>
          <a href="#r_form" data-toggle="tab">Einsatzmittel</a>
        </li>
        <li>
          <a href="#q_form" data-toggle="tab">Qualifikation</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="rbs_form">
          <%= render "form" %>
        </div>
        <div class="tab-pane" id="r_form">
          <%= render "resources/form" %>
        </div>
        <div class="tab-pane" id="q_form">
          <%= render "qualifications/form" %>
        </div>
      </div>
    </div>
  </div>
</div>