<!DOCTYPE html>
<html>
<head>
  <title>Projectmanagement</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'PM-Tool', root_path, {class: 'navbar-brand'} %>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <!-- <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li> -->
              <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <% if params[:controller] == 'projects' || params[:project_id].present? %>
    <% 
      project_id = nil
      if params[:project_id].present? 
        project_id = params[:project_id]
      else
        project_id = params[:id]
      end
    %>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'PM-Tool', root_path, {class: 'navbar-brand'} %>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to 'Übersicht', project_path(project_id) %>
              </li>
              <li>
                <%= link_to 'Projektstruktur', project_product_breakdown_structures_path(project_id) %>
              </li>
              <li>
                <%= link_to 'Arbeitspakete', project_work_breakdown_structures_path(project_id) %>
              </li>
              <li>
                <%= link_to 'Einsatzmittel', project_resource_breakdown_structures_path(project_id) %>
              </li>
              <li>
                <%= link_to 'Allokation', project_resource_allocation_matrices_path(project_id) %>
              </li>
              <li>
                <%= link_to 'Roadmap', project_milestones_path(project_id) %>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <!-- <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li> -->
                  <li>
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render "users/sessions/login" %>
            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id='overlay'>
    <%= image_tag("ajax-loader.gif") %>
  </div>
</body>
</html>
